@charset "utf-8";
body {
    font-family: sans-serif, serif;
    font-size: 100%;
    text-align: initial;
    background-color: whitesmoke;
    border-style: groove;
    margin: 0%;
    
}
header{
    color: rgb(21, 144, 216);
    font-family: 'Times New Roman', Times, serif, sans-serif;
    font-size: 100%;
}
nav ul li{
    display: inline;
    list-style: none;
    position: relative;
    left: 683px;
     bottom: 45px;
}
hr {
    position: relative;
    bottom: 35px;
}

#b {
    color: rgb(21, 144, 216);
}
main{
    padding-left: 4em;
}
main p {
    border-style: none;
    background-color: white;
    width: 870px;
    padding-left: 4em;
    padding: 2em;
}
footer {
    color: white;
    background-color: rgb(21, 144, 216);
    border-top-right-radius: 2em;
    border-top-left-radius: 2em;
    text-align: center;
    margin: 2em;
    margin-bottom: 0em;
    padding-top: 1em;
    position: relative;
    top:15px;
}
footer dd{
    position:relative;
    right:450px;

}
dd.sec {
    position:relative;
    left:450px;
    bottom:75px;

}
footer img{
    padding-bottom: 2em;
    position: relative;
    bottom: 20px;
}


